@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

:root{
    --blue: #43B9FA;
    --blue-light: #B7E6FF;

    --red: #FA4343;
    --red-light: #FFC0C0;

    --orange: #FA9A43;
    --orange-light: #FFD4AD;

    --violet: #D543FA;
    --violet-light: #F5CEFF;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    transition: background-color 0.3s ease-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px; /* height of sticky header */
}

body{
    --primary: #ffffff;
    --secondary: #1c1c1c; 
    --card-main : rgb(247, 247, 247);
    --card-light: white;
    --underline: #B7E6FF;

    color: var(--secondary);
    background-color: var(--primary);
    overflow-x: hidden;
}

.dark{
    --secondary: #ffffff;
    --primary: #1c1c1c;
    --card-main: #353535;
    --card-light: #525252;
    --underline: #525252;
}

/* .light{
    --primary: #ffffff;
    --secondary: #1c1c1c; 
    --card-main : rgb(247, 247, 247);
    --card-light: white;
    --underline: #B7E6FF;
} */

svg{
    width: 20px;
    height: auto;

    fill: var(--primary);
}

.whatsapp-floating{
    z-index: 500;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0px 4px 20px grey;
}

.whatsapp-floating > svg{
    fill: var(--secondary);
}

.header{
    font-size: 7vw;
    text-align: center;
}

.sub-header{
    font-size: 3vw;
}

.sub{
    font-size: 1.5vw;
}

.landing-section{
    position: relative;
    height: 100vh;
    width: 100vw;

    background-color:black;
    /* background-image: url(./assets/Video/shot.png); */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 0;
}

.landing-section > video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    
    transform: translateX(-50%) translateY(-50%);
    background: url('./assets/Video/shot.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;

    z-index: -10;
}

.landing-section-content{
    color: white;
    
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.315);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    z-index: 200;
}


.landing-section-main-heading{
    margin-bottom: 20px;
    cursor: pointer;

    font-size: 5vw;
}

.landing-section-sub{
    width: 40vw;
    font-weight: 300;
}

.landing-section-sign-in{
    display: none;
    margin-top: 2vh;
    cursor: pointer;
    border: 0.5px white solid;
    border-radius: 10vw;

    /* height: 40px; */
    /* font-size: 1.5vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;

    font-weight: 300;

    transition: color 0.2s ease-out, background-color 0.3s ease-out;
}

.landing-section-sign-in:hover{
    background-color: white;
    color: #1c1c1c;
}

.about-section{
    padding: 0 10vw;
    padding-top: 30px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section-wide{
    margin-top: 60px;
    margin-bottom: 100px;
    font-weight: 300;

    text-align: center;
}

.about-section-content{
    flex: 1;
    display: flex;
}

.about-image-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image-section circle, .about-image-section ellipse{
    fill: var(--blue);
}

.about-image-div, .about-image-div .img{ 
    width: 22vw;
    height: 27vw;
    background-color: var(--primary);
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.about-image-div svg{
    position: absolute;
    z-index: -10;

    width: 7vw;
    top: -2vw;
    right: -2vw;
}

.about-image-div .about-image-box{
    position: absolute;
    z-index: -10;

    bottom: -2vw;
    left: -2vw;

    height: 10vw;
    width: 14vw;
    background-color: var(--blue-light);
}


.about-content{
    flex: 1;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about-content > div:first-child{
    margin-bottom: 10px;
    font-weight: 500;
}

.about-content > div:last-child{
    text-align: justify;
}


.future-section{
    padding: 0 10vw;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.future-section > .header{
    margin-bottom: 100px;
}

.future-items{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.future-item{
    display: flex;
    margin-bottom: 15vh;
}

.future-item > div{
    flex: 1;
}

.future-image-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.future-image-div{ 
    width: 34vw;
    height: 21vw;
    background-color: transparent;

    position: relative;
    
    border-radius: 2vw;
    margin: 0 2vw;

    transition: opacity 0.3s ease-out, background-color 3s ease-out;
    display: flex;
    justify-content: flex-end;
}

.img{
    background-position: center;
    background-size: cover;
}

.future-image-div .img{
    width: 33vw;
    height: 20vw;
}

.future-image-div svg{
    position: absolute;
    z-index: -10;

    width: 7vw;
    height: auto;
}

.future-item:nth-child(odd) .future-image-div svg{
    top: -2vw;
    left: -2vw;
}

.future-item:nth-child(even) .future-image-div svg{
    top: -2vw;
    right: -2vw;
}


.future-image-div .future-image-box{
    position: absolute;
    z-index: -10;

    height: 12vw;
    width: 20vw;
    background-color: var(--blue-light);

    border-radius: 2vw;
}

.future-item:nth-child(odd) .future-image-box{
    bottom: -1vw;
    right: -1vw;
}

.future-item:nth-child(even) .future-image-box{
    bottom: -1vw;
    left: -1vw;
}

/* colors */


.blue circle, .blue ellipse{
    fill: var(--blue);
}

.blue .future-image-box{
    background-color: var(--blue-light);
}

.blue .colored-bar{
    background-color: var(--blue);
}

.red circle, .red ellipse{
    fill: var(--red);
}

.red .future-image-box{
    background-color: var(--red-light);
}

.red .colored-bar{
    background-color: var(--red);
}


.orange circle, .orange ellipse{
    fill: var(--orange);
}

.orange .future-image-box{
    background-color: var(--orange-light);
}

.orange .colored-bar{
    background-color: var(--orange);
}

.violet circle, .violet ellipse{
    fill: var(--violet);
}

.violet .future-image-box{
    background-color: var(--violet-light);
}

.violet .colored-bar{
    background-color: var(--violet);
}

.future-item-content{
    flex: 1;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.future-item-content > div:first-child{
    margin-bottom: 10px;
    font-weight: 500;
}

.future-item-content > div:last-child{
    text-align: justify;
}



.contact-section{
    /* min-height: 100vh; */
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
}

.contact-section-header{
    font-weight: 500;
    text-align: left;

    position: relative;
}

.contact-section-header::after{
    content: "";
    width: 100%;
    height: 1vw;
    background-color: var(--underline);

    position: absolute;
    bottom: 1vw;
    left: 0;
    z-index: -10;
}

.contact-content{
    flex: 1;
    display: flex;
    flex-direction: column;

}

.contact-detail-text:first-child{
    margin-bottom: 20px;
}

.contact-detail-text{
    font-weight: 300;
    margin-bottom: 10px;
}

.contact-link{
    cursor: pointer;
    font-weight: 500;
}

.contact-content-details > svg{
    margin-top: 3vh;
    width: 7vw;
    height: auto;
}

/* .contact-detail-social{
    margin-top: auto;
    margin-bottom: 10vh;
    display: none;
} */

.contact-details-disclaimer{
    margin-top: auto;
    margin-bottom: 40px;
    text-align: justify;
}

.contact-details-disclaimer > span{
    /* color: var(--red); */
    font-size: 7px;
    display: block;
    margin-top: 10px;
}

.social-text{
    margin-bottom: 10px;
}

.social-icons > svg{
    margin-right: 10px;
    cursor: pointer;

    fill: var(--secondary);
}

.contact-content-callback{
    margin: 2vh 0;
    display: flex;
    flex-direction: column;

    width: 40vw;
    background-color: var(--card-main);
    padding: 30px 20px;
    border-radius: 10px;
}

.callback-header{
    font-weight: 500;
    font-size: 2vw;

    margin-bottom: 5px;
}

.callback-sub{
    font-weight: 300;
    margin-bottom: 30px;
}

.contact-content-callback > form{
    display: flex;
    flex-direction: column;
}

form > input{
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 0 10px;

    border: none;
    outline: none;

    background-color: var(--card-light);
    color: var(--secondary);
}

form > button{
    background-color: var(--blue);
    color: white;
    border: none;
    height: 40px;

    display: flex;
    flex-direction: column;

    border-radius: 10px;

    cursor: pointer;
    outline: none;

    overflow: hidden;
}

form > button > span {
    flex-shrink: 0;
    align-self: stretch;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: margin-top 0.3s ease-out;
}

.form-error{
    margin-left: 10px;
    color: var(--red);
    font-size: 8px;
    margin-bottom: 5px;
    margin-top: -5px;

    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.form-error-show{
    opacity: 1;
}

.sending > #submit-btn-start{
    margin-top: -40px
}

.done > #submit-btn-start{
    margin-top: -80px;
}

.error > #submit-btn-start{
    background-color: #FF392E;
}

.shake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}



@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
    padding: 0 5vw;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 300;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
}

.top-bar-drop-down{
    overflow: hidden;
    padding: 10px;
    padding-top: 60px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    transform: translateY(-100%);

    height: 200px;
    background-color: var(--primary);

    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 15px 15px;
    transition: transform 0.3s ease-out;

    z-index: -10;
}

.top-bar-drop-down  div{
    cursor: pointer;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    margin: 0 4vw;
}

.top-bar-drop-down  div:hover{
    background-color: var(--blue);
    color: white;
}

.top-bar svg{
    width: 30px;
    fill: white;

    transition: fill 0.2s ease-out;
}

.top-bar-logo img{
    width: 200px;
    margin-bottom: -10px;
}

.top-bar-menu{
    cursor: pointer;
}

.nav-scrolled{
    background-color: var(--primary);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.281);
}

.nav-scrolled svg{
    fill: var(--secondary);
}

.active svg{
    fill: var(--secondary);
}

.active .top-bar-drop-down{
    transform: translateY(0%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.281);
}

.active{
    box-shadow: none;
}


/* dark-mode */

.checkbox-container{
    padding: 10px 15vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body.dark {
	background: var(--primary);
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
    margin-left: 10px;
	background-color: #111;
    border-radius: 50px;
    padding: 1px 2px;
	cursor: pointer;
	display: flex;
    align-items: center;
	height: 13px;
	width: 25px;
	
}

.label .ball {
	background-color: var(--primary);
	border-radius: 50%;
	height: 11px;
	width: 11px;
	transform: translateX(0px);
	transition: transform 0.3s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(14px);
}

.checkbox:checked + .label{
    background-color: rgb(0, 255, 0);
}

.sign-in-pop-up{
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    z-index: 600;
    left: 50%;
    transform: translate3d(-50%, calc(100% + 20px), 0);

    width: 600px;
    border-radius: 10px;
    background-color: var(--primary);
    padding: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.281);

    transition: transform 0.2s ease-out;
}

.pop{
    transform: translate3d(-50%, 0, 0);
}

.sign-in-pop-up-close{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.sign-in-pop-up-close svg{
    fill: var(--secondary);
    width: 15px;
}

.sign-in-pop-up-header{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}

.sign-in-pop-up-form form{
    display: flex;
}

.sign-in-pop-up-form form input{
    flex: 1;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 0 10px;
    margin-right: 10px;

    border: none;
    outline: none;

    background-color: var(--card-main);
    color: var(--secondary);
}

.sign-in-pop-up-form form > button{
    width: 100px;
}

.failed-btn{
    background-color: var(--red);
}

.failed > #sign-in-btn-start{
    margin-top: -40px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

#sign-in-pop-up-disclaimer{
    font-weight: 300;
    font-size: 12px;
}

#sign-in-pop-up-disclaimer span{
    font-weight: 500;
    color: var(--blue);
}


.fader{
    /* opacity: 0; */
    transition: opacity 0.5s ease-out;
}

.fader-active{
    opacity: 0;
}

.fader.fade-in{
    opacity: 1;
}

.fadeImg{
    display: flex;
    justify-content: space-between;
}

.fadeImg .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 0; */
}

.fade-img-div{
    background-color: var(--primary);
    /* width: 50%; */
    z-index: 200;

    transition: width 0.3s ease-out;
    /* width: 100%; */
    /* height: 100%; */
    /* position: absolute; */
    /* transform: scaleX(0); */
    /* transform-origin: 0% 50%; */

    display: flex;
}

.fade-img-div-active{
    width: 50%;
}

.left-fade{
    justify-content: flex-end;
}

.right-fade{
    justify-content: flex-start;
}

.colored-bar{
    background-color: var(--blue);
    width: 0px;
    z-index: 200;

    transition: width 1s ease-in-out;
}


.fadeImg.reveal .fade-img-div{
    /* animation: overlay 0.8s; */
    animation: open 1s forwards;
}

.fadeImg.reveal .fade-img-div .colored-bar{
    animation: width 2s forwards;
}

/* .fadeImg.reveal .img{
    /* animation: pic 0.7s;
    animation-fill-mode: forwards;
} */

.secondary-fader{
    /* opacity: 0; */
    transition: opacity 1s ease-out;
    transition-delay: 0.4s;
}

.secondary-fader-active{
    opacity: 0;
}

.fadeImg.reveal > .secondary-fader{
    opacity: 1;
}
 
.future-image-div .img{
    height: 21vw;
    border-radius: 2vw;

    background-size: cover;
    background-position: center;
}

@keyframes pic {
  0% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; }
  100% { opacity: 1;transform: translate(-50%, -50%) scale(1); }
}

@keyframes open {
  0% { width: 50%; }
  /* 50% { width: 50%; }
  51% { width: 0; } */
  100% { width: 0;}
}

@keyframes width {
  0% { width: 0px; }
  50% { width: 40px; }
  100% { width: 0px;}
}
 
@keyframes overlay {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }
  50% {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }
  51% {
    transform: scaleX(1);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}


@media(min-width: 700px){
    .top-bar{
        padding: 0 30px;
    }
    .future-item:nth-child(even){
    flex-direction: row-reverse;
    }

    .future-item:nth-child(odd) > div:first-child{
        margin-right: 5vw;
    }

    .future-item:nth-child(even) > div:first-child{
        margin-left: 5vw;
    }

    .future-item:nth-child(odd){
        flex-direction: row;
    }
}

@media(max-width: 700px){
    .sign-in-pop-up{
        width: auto;
        margin-bottom: 0;
        border-radius: 10px 10px 0 0;
        left: 0;
        right: 0;
        transform: translate3d(0, 100%, 0);
    }

    .pop{
    transform: translate3d(0, 0, 0);
    }

    .checkbox-container{
        padding: 10px 0px;
        justify-content: center
    }

    .top-bar{
        height: 40px;
    }

    .top-bar-drop-down{
        padding-top: 40px;
    }

    .top-bar-drop-down div{
        margin: 0 3vw;
    }

    .top-bar svg{
        width: 20px;
    }

    .top-bar-logo img{
        margin-bottom: -5px;
        width: 120px;
    }

    .about-section-wide{
        margin-top: 40px;
        margin-bottom: 0px;
        font-weight: 300;

        text-align: justify;
    }

    .future-item{
        display: flex;
        margin-bottom: 80px;
    }

    .future-item{
        flex-direction: column;
    }

    .future-image-div{
        height: 50vw;
        width: 100vw;

        margin-bottom: 5vw;
    }

    .future-image-div .img{
        height: 50vw;
        width: 76vw;
    }
    
    .contact-content-callback{
       width: auto;
    }

    .header{
        font-size: 10vw;
    }

    .sub-header{
        font-size: 6vw;
    }

    .sub{
        font-size: 3vw;
        line-height: 25px;
    }

    .callback-header{
        font-size: 5vw;
    }


    .about-section-content{
        flex-direction: column;
    }

    .about-section-content > div{
        margin-top: 10vh;
    }

    .about-section-content > div:last-child{
        margin-bottom: 100px;
    }

    .about-image-div, .about-image-div .img{ 
        width: 60vw;
        height: 70vw;
    }

    .landing-section-main-heading{
        padding: 0 10vw;
    }

    .landing-section-sub{
        padding: 0 10vw;
        width: auto;
    }
}

@media(max-width: 400px){
    .header{
        font-size: 10vw;
    }

    .sub-header{
        font-size: 6vw;
    }

    .sub{
        font-size: 1em;
    }

    .callback-header{
        font-size: 5vw;
    }
}